.footer {
  background-color: hsl(233, 26%, 24%);
  padding: 2.5rem;
  text-align: center;
  a {
    color: white;
  }
}
.footer-image {
  display: inline-block;
  margin-bottom: 1.875rem;
}

.footer-social {
  margin-bottom: 1.875rem;

  a {
    display: inline-block;
  }
  a:not(:last-child) {
    margin-right: 1rem;
  }
}
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    line-height: 2.25;
  }
}
.col2 {
  margin-bottom: 1.875rem;
}
.foter-cta {
}
.footer-copyy {
  margin-top: 1.875rem;
  color: hsl(233, 8%, 62%);
}
@media screen and (min-width: 768px) {
  .footer {
    background-color: hsl(233, 26%, 24%);
    padding: 2.5rem 2.5rem;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr 3fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "footer-image col1 col2 foter-cta"
      "footer-social col1 col2 foter-cta";
    justify-items: center;
    align-items: center;

    a {
      color: white;
    }
  }
  .footer-image {
    display: inline-block;
    margin-bottom: 1.875rem;
    grid-area: footer-image;
  }

  .footer-social {
    margin-bottom: 1.875rem;
    grid-area: footer-social;

    a {
      display: inline-block;
    }
    a:not(:last-child) {
      margin-right: 1rem;
    }
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: start;

    a {
      line-height: 2.25;
    }
  }
  .col1 {
    margin-bottom: 1.875rem;
    grid-area: col1;
  }

  .col2 {
    margin-bottom: 1.875rem;
    grid-area: col2;
  }
  .foter-cta {
    grid-area: foter-cta;
    text-align: right;
    justify-self: end;
  }
  .footer-copyy {
    margin-top: 1.875rem;
    color: hsl(233, 8%, 62%);
  }
}
